#skillsMainDiv{
    background:white;
}
.techStackToolsDiv{
    width:65%;
    margin:2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border:1px solid red; */
}
.texhStackSvg{
    margin:1rem;
    width:6rem;
    height:6rem;
}
#techStackToolsDiv_2{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:40%;
}
.texhStackSvg_2{
    width:8rem;
    height:8rem;
   
}


@media (max-width:480px){
    .techStackToolsDiv{
        width:90%;
        margin:auto;
    }
    .texhStackSvg{
        width:4rem;
        height:4rem;
    }
    #techStackToolsDiv_2{
        display: none;
        grid-template-columns: 50% 50%;
        justify-content: space-between;
        width:80%;
        /* background-color: black; */
    }
    .texhStackSvg_2{
        width:5rem;
        height:5rem;
        border:1px solid red;
       
    }
    /* #expressSvg{
        background-color: blue;
    }
    #mongodbSvg{
        
    } */

   
}

@media (max-width:760px){
    .techStackToolsDiv{
        margin:auto;
        /* display: grid;
        grid-template: 8rem / auto auto auto; */
    }
   
    
}

@media (max-width:1280px){
    .techStackToolsDiv{
        /* background-color: black; */
        width:70%;
        margin:0rem auto;
        display: grid;
        grid-template: 9rem / auto auto auto;
        align-items: center;
    }
   
    #techStackToolsDiv_2{
        width:70%;
        margin:auto;
    }
    #expressSvg{
        margin-left:5rem;
    }
}